@charset "UTF-8";

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {   
    border-color: rgba(40, 40, 40, 0.8);
    outline: 0 none;
}


/* CO-EXIST PAGE */


html{    
    font-size: 16px;
    height: 100%;
}

body{
    font-family: 'ArialMT', Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
    color: rgba(0,0,0,.9);
    letter-spacing: -0.0085rem;
    background-color: #fff;
}

h1{    
    font-weight: normal;
    font-size: 3.5rem;
    letter-spacing:-0.06rem;
    text-transform: uppercase;
    padding: 20px;
    line-height: 1;    
}

h2{   
    margin: 0;
    padding: 20px;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: -0.03rem;
}

figure {
    margin: 0 auto 20px auto;
    display: table;
    padding: 20px 20px 10px 20px;
}

figure img{
    margin: 0;
    padding: 0;
}

figcaption {
    padding: 0 25px;
    display: table-caption;
    caption-side: bottom;
    font-size: .8rem;
}
      

p{
    padding: 20px;
    margin: 0;
}

p a{
    border-bottom: 1px solid #ccc;

}

small {
    display: block; 
    font-size:.8rem!important;
    line-height:1.4 !important;
    letter-spacing:0!important;
}


a:link, a:active, a:visited{
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    opacity: .7;
}

q, blockquote {
    margin: 40px;
    padding: 100px;
    font-size:2.8rem;
    letter-spacing: -0.04rem;
    display: block;
    quotes: "“" "”" "‘" "’";
    text-align: center;
}

::selection {
    background: rgba(102,51,51,1);
}

::-moz-selection {
    background: rgba(102,51,51,1);
}


@font-face {  
  font-family: 'ArialMT';
  font-weight: normal;
  font-style: normal;
  src: url('https://files.cargocollective.com/c865891/ArialMT.woff') format('woff'),
       url('https://files.cargocollective.com/c865891/ArialMT.woff2') format('woff2'), 
       url('https://files.cargocollective.com/c865891/ArialMT.ttf') format('truetype');
}
